<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>socnet.com.controller.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <display-name>socnet.com</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>invitation</display-name>
    <servlet-name>invitation</servlet-name>
    <servlet-class>socnet.com.controller.invitation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invitation</servlet-name>
    <url-pattern>/invitation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>socnet.com.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostImageServlet</display-name>
    <servlet-name>PostImageServlet</servlet-name>
    <servlet-class>socnet.com.controller.PostImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostImageServlet</servlet-name>
    <url-pattern>/PostImageServlet</url-pattern>
  </servlet-mapping>
</web-app>